doctype html
html
	head
		title Longo A MongoDB App
		link(rel="stylesheet", href="/css/bt.css")
body
	.container
		h1 User Database
	.container
		.form-group
			form(method="POST")
				.form-group
					label.control-label Name 
					input(type="text",name="name",class="form-control",value="#{person.name}")
				.form-group
					label.control-label Job
					input(type="text",name="job",class="form-control",value="#{person.job}")
				.form-group
					p: button.btn.btn-primary Add